<div class="contact-section">
     <img alt="Open" class="icon-menu" onclick="myFunction()" src="/assets/menu.png" width="35px">
    <div class="contact-img">
        <div class="contact-content container">
            <h1>We will email you on how to get started</h1>
            <div class="row">
                <div class="col-md-4 col-md-4-offset"></div>
                <div class="col-md-4">
                    <form accept-charset="UTF-8" action="/signups" class="new_signup" id="new_signup" method="post">
                        <div style="display:none">
                            <input name="utf8" type="hidden" value="✓">
                        </div>
                        <div class="form-group">
                            <label>First name</label>
                            <input class="form-control" id="signup_firstname" name="signup[firstname]" type="text">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="signup_email" name="signup[email]" type="text">
                        </div>
                        <p><a class="btn btn-outline-success" href="/thanks">Join</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
