<div class="menu">
  <!-- style=" left:0px;" to see the menu -->
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>
<img alt="Close" class="icon-close" src="/assets/close.png" width="24px">
</div>

<div class="main-section">
  <img alt="Open" class="icon-menu" src="/assets/menu.png" width="35px">
<div class="main-img">
  <div class="container">
    <div class="row">
      <div>
    <div class="main-content">
<h1>Create & share <br>stories</h1>
<p><a  class="btn btn-outline-success" href="#">Learn More</a></p>
</div>
</div>
</div>
 </div>
</div>
</div>


<div class="supporting-section">
  <div class="container">
    <h2>Relieve and share your adventures</h2>
    <p>Stories automatically creates your digital journal filled with only your best photos.</p>
  </div>
</div>


<div class="secondary-section">
<div class="container">
</div>
</div>


<div class="discover-section">
  <div class="container">
    <h2>Discover Stories</h2>
    <p><a class="btn btn-success" href="#">Learn More</a></p>

  </div>
</div>

<div class="footer">
<div class="container">
 <p>Fabstar Project</p>
</div>

</div>
