<div class="home-section">
    <img alt="Open" class="icon-menu" src="/assets/menu.png" width="35px">
    <div class="home-img">
        <div class="container">
            <div class="row">
                <div>
                    <div class="home-content">
                        <h1>Create & share <br>stories</h1>
                        <p><a class="btn btn-outline-success" href="about">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-second-section">
    <div class="container">
        <h2>Relieve and share your adventures</h2>
        <p>Stories automatically creates your digital journal filled with only your best photos.</p>
    </div>
</div>
<div class="home-third-section">
    <div class="container">
    </div>
</div>
<div class="home-fourth-section">
    <div class="container">
        <h2>Discover Stories</h2>
        <p><a class="btn btn-outline-success" href="about">Learn More</a></p>
    </div>
</div>
