<div class="home-section">
    <img alt="Open" class="icon-menu" onclick="myFunction()" src="/assets/menu.png" width="35px">
    <div class="home-img">
        <div class="container">
            <div class="row">
                <div>
                    <div class="home-content">
                        <h1>Do you travel often? Are you interested in making it a career?</h1>
                        <p><a class="btn btn-outline-success" href="about">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-second-section">
    <div class="container">
        <h2>Share with us your travel stories</h2>
        <p>We want to know your experiences on having this lifestyle</p>
    </div>
</div>
<div class="home-third-section">
    <div class="container">
    </div>
</div>
<div class="home-fourth-section">
    <div class="container">
        <h2>Document and share your memories to the world</h2>
        <p>You can upload as many videos and images for everyone to see and for you to always keep.</p>
        <p><a class="btn btn-outline-success" href="about">Learn More</a></p>
    </div>
</div>

