<div class="contact-section">
    <img alt="Open" class="icon-menu" onclick="myFunction()" src="https://res.cloudinary.com/dp85wftaz/image/upload/v1583537055/travel/menu_edng80.png" width="35px">
    <div class="contact-img">
        <div class="contact-content container">
            <h1>Thank's We'll be in Touch</h1>
        </div>
    </div>
</div>
