<div class="thanks-section">
  <img alt="Open" class="icon-menu" src="/assets/menu.png" width="35px">
  <div class="contact-img">
    <div class="contact-content container">
<h1>Thank you</h1>
</div>
</div>
</div>
