<div class="about-section">
    <img alt="Open" class="icon-menu" src="/assets/menu.png" width="35px">
    <div class="about-img">
        <div class="container">
            <div class="row">
                <div>
                    <div class="about-content">
                        <h1>Relive your favorite memories</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-second-section">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat minus porro aliquid asperiores explicabo voluptatem molestiae. Ducimus mollitia, doloribus modi praesentium ex recusandae culpa cumque, quisquam voluptatibus nesciunt, commodi amet!</p>
    <p><a class="btn btn-outline-success" href="signups/new">Sign Up</a></p>
  </div>

</div>
