<div class="about-section">
     <img alt="Open" class="icon-menu" onclick="myFunction()" src="https://res.cloudinary.com/dp85wftaz/image/upload/v1583537055/travel/menu_edng80.png" width="35px">
    <div class="about-img">
        <div class="container">
            <div class="row">
                <div>
                    <div class="about-content">
                        <h1>Influence others to step out of their comfort zone by Traveling</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-second-section">
  <div class="container">
    <h2>Help with making other's travel experiences simple</h2>
    <p>You can recommend best places, great prices, restraunts, bars, clubs to visit. Share quick travel tips for packing and much more.</p>
    <p><a class="btn btn-outline-success" href="signups/new">Sign Up</a></p>
  </div>

</div>

